@font-face {
  font-family: 'FingerPaint-Regular';
  src: url('FingerPaint-Regular.eot?#iefix') format('embedded-opentype'),
    url('FingerPaint-Regular.woff') format('woff'),
    url('FingerPaint-Regular.ttf')  format('truetype'),
    url('FingerPaint-Regular.svg#FingerPaint-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#bg {
  background-image: url("../assets/webBG.jpg");
  background-repeat:  repeat-x;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body {
  background-color: black;
}

canvas {
  z-index: 100;
  position:fixed;
}


